<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
		<title>Studio World</title>
	</head>
	<body style="text-align: center;">
		<h1 style="border: 3px solid black;">Studio World</h1>
		<p >Worst recording studio on planet earth!</p>
    	<br>
    	<form action="/" method="POST">
      		<button type="submit" name = "action" value="signin">SignIn</button>
      		<button type="submit" name = "action" value="signup">SignUp</button>
    	</form>
	</body>
</html>