<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <title>SignUp</title>
    <h1>SignUp:</h1>
  </head>
    <body style="text-align: center;">
      <form action="/signup" method="POST">
        <input type="text" placeholder="Email" name="email">
        <input type="password" placeholder="Password" name="password">
        <br>
        <input type="text" placeholder="UserName" name="username">
        <input type="text" placeholder="Full-Name" name="fullname">
        <br>
        <button type="submit">Signup</button>
      </form>
      <br>
      <a href="/signin">Already have an account? Log in!</a>
      <p style="color: darkred;">{{error}}</p>
  </body>
</html>